@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body, html {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    padding: 0 0 .5rem 0 !important;
    margin: 0 !important;

    button {
        cursor: pointer;
    };
   
}

.font-small, 
.font-small * {
  font-size: 14px !important;
}

.font-large, 
.font-large * {
  font-size: 18px !important;
}
