@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


body, html {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

    button {
        cursor: pointer;
    }
}