
.mobile-hero-bg {
  position: absolute; // so it covers the subheader
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; // fill the subheader
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.5s ease-in-out;
  z-index: 1; // behind text
  opacity: 1;
}

.mobile-hero-bg-wrapper h2 {
  position: relative; // needed for z-index to work
  z-index: 2;         // higher than the bg
  color: white;       // just in case it's blending in
  text-align: center;
  margin-top: 2rem;   // adjust as needed
  font-size: 1.2rem;
}

.mobile-hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65); // semi-transparent overlay
  z-index: 1; // below h2
}



.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.hero-carousel {
  position: relative;
  width: 100%;
  height: 13rem;

  .carousel-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    z-index: 0;
  }

  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  
}
