@use '../styles/colors.scss' as *;

// Prevent any unwanted horizontal scroll
html, body {
  overflow-x: hidden;
  width: 100%;
}

.search-results-page-container,
.home-body-container {
  padding: 1rem 0;
  max-width: 700px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

hr {
  opacity: 0.6;
  margin: 1.2rem 0;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
}

.hr-hide {
  opacity: 0;
}

// ===============================
// TOP ROW / NAV BAR
// ===============================
.top-row-search-results-page {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .homepage-logo {
    width: 5rem;
  }

  .top-row-buttons-container-mobile {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    .profile-button img {
      width: 1.5rem;
    }

    .hamburger-button img {
      width: 2rem;
    }
  }
}

.top-row-buttons-container-desktop {
  display: none;
}

@media (max-width: 1023px) {
  .top-row-buttons-container-desktop {
    display: none;
  }
}

// ===============================
// HERO SECTION
// ===============================
.hero-form-container-search-page {
  position: relative;
  z-index: 0;
  margin-top: 1rem;

  .hero-text-container-search-page {
    background-color: $custom-dark-green;
    width: 100%;
    margin: 0;
    padding: 0.8rem 5rem 0.8rem 1.2rem;
    box-sizing: border-box; // prevent overflow

    h1 {
      font-size: 1rem;
      margin-bottom: 0.3rem;
      font-weight: 600;
      color: white;
      line-height: 1.3;
    }

    p {
      font-size: 0.8rem;
      color: white;
      margin: 0;
    }
  }
}

// ===============================
// RESULTS SECTION
// ===============================
.search-result-page-inner-container {
  display: grid;
  overflow-x: hidden;
}

.result-paragraph-search-result-page,
.search-result-page-filtering-options-container,
.search-result-page-listed-results-container,
.newsletter-section-home-container {
  padding: 0 1rem;
}

.result-paragraph-search-result-page {
  font-size: 0.85rem;
  color: $custom-dark-green;
  margin: 1rem 0 0.5rem 0;
}

.search-result-page-filtering-options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 1rem 0 0.5rem 0;
  color: $custom-dark-green;
  flex-wrap: wrap;

  button {
    border: 1px solid $custom-dark-green;
    background: white;
    color: $custom-dark-green;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding: 0.4rem 0.8rem;

    img {
      width: 1.3rem;
    }
  }
}

.search-result-page-listed-results-container {
  display: flex;
  flex-direction: column;

  .search-result-page-listed-results-container-result {
    display: grid;
    grid-template-columns: auto 55%;
    grid-template-rows: auto auto auto auto;
    gap: 0.3rem;

    .result-image {
      grid-row: 1 / 5;
      grid-column: 1;
      width: 90%;
      height: 8rem;
      object-fit: cover;
      border-radius: 10px;
      align-self: center;
    }

    .result-title {
      grid-column: 2;
      grid-row: 1;
      font-size: 1rem;
      margin-bottom: 0;
      color: $custom-dark-green;
    }

    .result-address {
      grid-column: 2;
      grid-row: 2;
      margin-top: 0;
      font-size: 0.7rem;
      color: $custom-dark-green;
    }

  }

  .map-link-website-link-and-heart-icon-container {
    grid-column: 2;
    grid-row: 3 / 4;

    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;

    .result-map {

      p,
      a {
        color: $custom-dark-green;
        font-size: 0.8rem;
      }
    }

    .result-website {
      p,
      a {
        color: black;
        font-size: 0.8rem;
      }
    }

    .result-add-to-favorite-button {
      justify-self: flex-end;
      align-self: center;
      grid-column: 2;
      grid-row: 1 / 3;
      width: 3rem;
      height: 2.5rem;
      display: flex;
      border: none;
      background: none;
      justify-content: center;
      align-items: center;

      img {
        width: 2rem !important;
        padding: 0;

      }

      &:hover img {
        transform: scale(1.1);
        transition: transform 0.2s ease;
      }
    }
  }


  .result-see-details-button {
    background-color: $custom-dark-green;
    border: none;
    color: white;
    padding: 0.6rem 0;
    margin: 1rem;
    border-radius: 6px;
    font-weight: 500;

    &:hover {
      background-color: hsl(61, 70%, 40%);
    }
  }
}

.search-result-page-load-more-results-button {
  margin: 1rem auto 2rem auto;
  display: flex;
  padding: 0.7rem 1.5rem;
  border: none;
  background-color: $custom-dark-green;
  color: white;
  border-radius: 6px;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: .6rem;

  img {
    width: .8rem;
    filter: invert(100%);
  }
}

// ===============================
// NEWSLETTER SECTION
// ===============================
.newsletter-section-home-container {
  margin-bottom: 2rem;
  margin-top: 1.8rem;

  p {
    margin-bottom: 0.5rem;
    font-size: 0.8rem !important;
    padding-right: 2rem !important;
    color: $custom-dark-green;
  }

  a {
    color: $custom-dark-green;
  }
}

// ===============================
// FOOTER
// ===============================
.navigation-section-home-bottom {
  width: 100%;
  background-color: $custom-dark-green;
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 3rem !important;
  margin-bottom: 2rem;

  button {
    background: none;
    color: white;
    border: none;
    padding: 0.6rem 0;
    font-size: 1rem !important;
  }
}

.logo-and-rights-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo-bottom {
    width: 7rem !important;
  }

  p {
    padding: 0;
    font-size: 0.6rem !important;
    color: $custom-dark-green;
  }
}

// ===============================
// TABLET
// ===============================
@media (min-width: 600px) and (max-width: 1024px) {
  .homepage-logo {
    width: 7rem !important;
  }

  .profile-button img,
  .hamburger-button img {
    width: 2rem !important;
  }

  .hero-text-container-search-page {
    padding: 1.2rem 2rem;

    h1 {
      font-size: 1.4rem !important;
    }

    p {
      font-size: 1rem !important;
    }
  }
}

// ===============================
// DESKTOP
// ===============================
@media (min-width: 1024px) {
  .search-results-page-container,
  .home-body-container {
    max-width: 900px;
    margin: 0 auto;
  }

  .homepage-logo {
    width: 10rem !important;
  }

  .top-row-buttons-container-mobile {
    display: none !important;
  }

  .top-row-buttons-container-desktop {
    display: grid;
    grid-template-rows: auto auto;
    margin-bottom: 1rem;
  }

  hr {
    opacity: 0.5;
  }

  .hero-text-container-search-page {
    .hero-text-search-page {
      max-width: 1000px !important;
      margin: 0 auto;
    }

    h1 {
      color: white !important;
      font-size: 1.5rem !important;
    }

    p {
      color: white !important;
      font-size: 0.9rem !important;
    }
  }
}

// ===============================
// LARGE DESKTOP
// ===============================
@media (min-width: 1300px) {
  .search-results-page-container,
  .home-body-container {
    max-width: 1100px !important;
  }
}
