@use '../colors.scss' as *;


.about-page-container {
  position: fixed;
  inset: 0;
  max-width: 100vw;
  background: #fff;
  z-index: 1000;
  padding: 1rem;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);


  .about-page-logo {
    width: 5rem;
    margin-bottom: 2rem;
    cursor: pointer;
  }

  hr {
    width: 100%;
    border: none;
    border-top: 1px solid rgba($custom-dark-green, 0.6);
    margin: 1.5rem 0;
  }

  .about-page-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      font-size: 1.5rem;
      margin-bottom: 0.4rem;
      color: $custom-dark-green;
    }

    span {
      color: $custom-dark-green;
      font-size: 0.9rem;
    }
  }

  .about-section {
    h2 {
      font-size: 1rem;
      color: $custom-dark-green;
      margin-bottom: 0.5rem;
    }

    p {
      color: $custom-dark-green;
      font-size: 0.9rem;
      line-height: 1.5;
    }

    a {
      color: $custom-dark-green;
      text-decoration: underline;
    }
  }
}

@media (min-width: 650px) {
  .about-page-container {
    padding: 1rem;
    max-width: 700px;
    margin: 3rem auto;
    
    }
}

