@use '../colors.scss' as *;

.home-nav-and-hero-container {
  height: auto;

  .top-row-home-page {
    padding: 0 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    .homepage-logo {
      width: 5rem;
    }

    .top-row-buttons-container {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      .profile-button,
      .hamburger-button {
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.1);
        }
      }

      .profile-button img {
        width: 1.5rem;
      }

      .hamburger-button img {
        width: 2rem;
      }
    }
  }

  .hero-form-container {
    .hero-text-container {
      padding: 0 5rem 0 0.2rem;

      h1 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        font-weight: 600;
      }

      p {
        margin-top: 0;
        font-size: 0.8rem;
        color: #333;
      }
    }

    .mobile-hero-subheader {
      font-size: 1.2rem;
      background-color: $custom-dark-green;
      color: white;
      text-align: center;
      padding: 2rem 0 5rem; 
      z-index: 0;
      width: 100vw;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin: 1rem 0 0;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }

    .hero-option-buttons {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: stretch;
      height: 5rem;
      z-index: 1;
      margin-top: -3rem;

      .museum-select-button {
        border-radius: 20px 0 0 20px;
      }

      .both-select-button {
        border-radius: 0 20px 20px 0;
      }


      button {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        height: 100%;
        border: 2px solid $custom-dark-green;
        background: white;
        cursor: pointer;
        transition: all 0.3s ease;
        font-weight: 500;
        overflow: hidden;

        img {
          height: 50%;
          width: auto;
          object-fit: contain;
          transition: all 0.3s ease;
        }

        p {
          transition: all 0.3s ease;
        }

        &:hover {
          background: $custom-dark-green;
          border: 1px solid white;
          transform: translateY(-2px);
          
          img,
          p {
            filter: invert(100%);
          }
        }
      }

      .museum-select-button {
        border-right: none;
      }

      .both-select-button {
        border-left: none;
      }
    }
  }
}
