@use '../colors.scss' as *;

body.mobile-menu-open {
  overflow: hidden; // prevent background scroll
}

.mobile-menu-container {
  position: fixed;
  inset: 0; // full-screen coverage
  height: 100vh;
  max-width: 100vw;
  background: #fff;
  z-index: 1000;
  border: none;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  overscroll-behavior: contain;

  /* === CLOSE ICON === */
  .mobile-menu-close-icon {
    display: flex;
    justify-content: flex-end; // moves icon to the right
    width: 100%;

    img {
      width: 2rem;
      cursor: pointer;
    }
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: $custom-dark-green;
  }

  button {
    border: none;
    background: none;
  }

  .help-container-mobile-menu {
    button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: $custom-dark-green;
      font-size: 1rem;
      padding: 0;

      img {
        width: 1.3rem;
      }
    }
  }
}
